parts
develop-eggs
bin
etc
eggs
.installed.cfg
.mr.developer.cfg
lib
include
src/*

resources/patron_logos/honorary_patronage/Logo Kuratorium Os\314\201wiaty.tif

resources/patron_logos/honorary_patronage/Logo Kuratorium Os\314\201wiaty.tif

resources/patron_logos/honorary_patronage/Logo Kuratorium Os\314\201wiaty.cdr

resources/patron_logos/honorary_patronage/Logo Kuratorium Os\314\201wiaty BANER.cdr

resources/patron_logos/media_patronage/TVp krak\303\263w.pdf
