[buildout]
parts =  
    instance
    zopepy

extends = 
    http://dist.plone.org/release/4.1/versions.cfg

find-links =
    http://dist.plone.org/release/4.1
    http://dist.plone.org/thirdparty

extensions = 
    mr.developer
    buildout.dumppickedversions

sources = sources
versions = versions
develop =

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage
eggs =
    PIL
    Plone
#    szcz.plonetheme
zcml =

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[sources]
#szcz.plonetheme = git git://github.com/SzkolaCzytania/szcz.plonetheme.git

# Version pindowns for new style products go here - this section extends one provided in http://dist.plone.org/release/
[versions]
