[buildout]
parts =  
    instance
    zopepy

extends = 
    http://dist.plone.org/release/4.1/versions.cfg
    http://good-py.appspot.com/release/plone.app.theming/1.0b8

find-links =
    http://dist.plone.org/release/4.1
    http://dist.plone.org/thirdparty

extensions = 
    mr.developer
    buildout.dumppickedversions

sources = sources
versions = versions
develop =

[sources]

[versions]

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8070
debug-mode = off
verbose-security = on
blob-storage = var/blobstorage
eggs =
    Plone
    plone.app.theming
    z3c.jbot
zcml =
resources = ${buildout:directory}/resources
zcml-additional =
  <configure
      xmlns="http://namespaces.zope.org/zope"
      xmlns:browser="http://namespaces.zope.org/browser">

# Add custom Plone templates dir
    <include package="z3c.jbot" file="meta.zcml" />
    <browser:jbot
        directory="${buildout:directory}/resources/templates" />
  </configure>

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy
